<%- include("header") %>
 <div class="addAccount">
    <div class="add-content">
        <ul class="socials">
            <li><a href="#">Instagram</a> </li>
            <li><a href="#">Facebook</a></li>
            <li><a href="#">Snapchat</a></li>
            <li><a href="#">Upwork</a></li>
            <li><a href="#">Linkedin</a></li>
            <li><a href="#">Twitter</a></li>
            <li><a href="#">Tiktok</a></li>
            <li><a href="#">Youtube</a></li>

        </ul>
    </div>
 </div>