<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Joggle Homepage</title>
    <link rel="stylesheet" href="css/styles3.css">
    <link href='https://fonts.googleapis.com/css?family=Inter' rel='stylesheet'>
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
  </head>
  <body>
    <div id="top-nav">
          <div class="brand"> <h1 class="brandname" ><img class="logo" src="images/jogglelogo2.jpg" alt="logo"><strong>Joggle</strong> </h1></div>
        <nav class="navbar">
          <ul>
            <li id="profilenav"><img src="images/profile.jpg" alt="Profile">Profile</li>
            <li><img src="images/insight.png" alt="Insights"></li>
            <li><img src="images/history.png" alt="History"></li>
            <li><img src="images/email.png" alt="Contact-us"></li>
            <li><img src="images/card.png" alt="Payments"></li>
            <li><img src="images/notification.png" alt="Notifications"></li>
          </ul>
        </nav>
      </div>
      <div class="rightside-ads">
        <h3>Ads go here</h3>
      </div>
  
  
  
      <div class="leftside" style="padding-bottom: 100px;">
        <nav id="sidebar">
          <ul class="list-items">
            <li><a href="/"><i class="fas fa-home"></i>Home</a></li>
            <li><a href="/add-account"><i class="fas fa-plus-circle"></i>Add account</a></li>
            <li><a href="/promote-post"><i class="fas fa-bullhorn"></i>Promote post</a></li>
            <li><a href="schedule-post"><i class="fas fa-clock"></i>Schedule Post</a></li>
            <li><a href="joggle-music"><i class="fas fa-music"></i>Joggle Music</a></li>
            <li><a href="settings"><i class="fas fa-cog"></i>Settings</a></li>
          </ul>
        </nav>
      </div>