<%- include("header") %> 

    <!-- page content -->
    <div class="body">
      <div class="body-content">
        <h6> Body content </h6>
        <div class="menu" style="background-color: #3366FF;">
          <h1> This section contains profile information </h1> 
        </div>





      </div>
    </div>
</body>
</html>


